.fobbiden-error {
    margin-top: 5rem;
    height: 20rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #e3e3e3;
    border-radius: 0.6rem;
    align-items: center;
    justify-content: center;
}

.error-title {
    font-weight: 600;
    font-size: 1rem;
}

.post-info--redirect-loginBtn {
    margin-top: 1rem;
    width: 20rem;
    background-color: #ed234b;
    color: white;
    padding: .5rem;
    border: none;
    border-radius: .3rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}