@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

body:not(body:has(> div > div > .login-container), 
body:has(> div > div > .auth-container)) {
    padding: 120px 0px 0px 0px;
}

body {width:100%; height:100%; margin:0; padding:0; overflow-y:scroll; position:relative;}

.Header {
    position: fixed;
    width: 100%;
    height: 110px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e3e3e3;
    background-color: white;
    padding-top: .5rem;
    z-index: 2;
    top: 0;
    left: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.03), 0 3px 6px rgba(0,0,0,0.05);
}

.Header--top {
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-between;
}

.Header--home-btn {
    color: white;
}

.Header--logo-img {
    width: 120px;
    height: 50px;
}

.Header--logo-and-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Header--search {
    z-index: 1;
    height: 35px;
    width: 30rem;  
    display: flex;
    position: absolute;
    align-items: center;
    border: #f2f2f2 2px solid;
    background-color: #f2f2f2;
    border-radius: 10rem;
}

.Header--search-icon {
    color: #b5b3b2;
    position: absolute;
    left: 1%;
    top: 20%;
    height: 25px;
    width: 20px; 
    z-index: 3;
}

.Header--search-container {
    position: relative;
    height: 32px;
    width: 30rem;   
    display: flex;
    align-items: center;
    border: #f2f2f2 2px solid; 
    border-radius: 10rem 10rem 10rem 10rem;
    background-color: #f8f8f8;
}

.Header--search-container-gray {
    position: relative;
    height: 32px;
    width: 30rem;   
    display: flex;
    align-items: center;
    border: #f2f2f2 2px solid; 
    border-radius: 10rem 10rem 10rem 10rem;
    background-color: #f2f2f2
}

.Header--search-input {
    position: absolute;
    z-index: 0;
    height: 30px;
    width: 30rem;   
    left: 5%;
    background-color: #f8f8f8;
    border: #f2f2f2 2px solid; 
    border-radius: 0rem 10rem 10rem 0rem;
    border-left: none;
}

.Header--search-input-gray {
    position: absolute;
    z-index: 0;
    height: 30px;
    width: 30rem;   
    left: 5%;
    background-color: #f2f2f2;
    border: #f2f2f2 2px solid; 
    border-radius: 0rem 10rem 10rem 0rem;
    border-left: none;
}

.Header--search-input::placeholder {
    color: #b5b3b2;
}

.Header--search-input:focus { 
    outline: none;
}

.Header--search-input-gray::placeholder {
    color: #b5b3b2;
}


.Header--search-input-gray:focus { 
    outline: none;
}

.Header--login-btn {
    width: 5rem;
    display: flex;
    gap: .2rem;
    align-items: center;
    font-size: .8rem;
    text-decoration: none;
    color: black;
}

.Header--login-btn > svg {
    width: 1rem;
}

.Header--logout-btn > svg {
    width: 1rem;
}

.Header--login-btn:hover {
    color: red;
}


.Header--logout-btn {
    font-size: .8rem;
    text-decoration: none;
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
    width: 5rem;
    display: flex;
    gap: .2rem;
    align-items: center;
}

.Header--logout-btn:hover {
    color: red;
}

.Header--category {
    color: white;
    background-color: black;
    padding: .5rem 1.6rem .5rem 1.6rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.Header--category:hover {
    background-color: red;
}

.Header--auth-box {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.Header--bottom {
    width: 65%;
    font-weight: 700;
    font-size: .8rem;
    display: flex;
    align-items: center;    
    justify-content: flex-start;
    gap: 2rem;
    margin-top: .4rem;
    margin-left: 1.2rem;
    position: relative;
}

.Header--menu {
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.Header--menu > div {
    cursor: pointer;
}

.Header--menu > a {
    text-decoration: none;
    color: black;    
}

.Header--menu > div:hover {
    color: red;
}

.Header--menu > a:hover {
    color: red;
}

.Header--user-info {
    position: relative;
    display: flex;
    align-items: center;
    gap: .3rem;
}

.Header--user-info > svg {
    width: 1rem;
}

.Header--user-info > img {
    width: 1rem;
    height: 1rem;
    border-radius: 2rem;
}

.Header--user-info--name {
    font-size: .8rem;
    font-weight: 600;
}

.Header--user-info--menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 120%;
    position: absolute;
    width: 100%;
    border-radius: .3rem;
    height: 2.6rem;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.05);
    z-index: 2;
}

.Header--user-info--menu--myinfo {
    width: 100%;
    text-align: center;
    font-size: .8rem;
    margin: .4rem 0;
    padding: .4rem 0;
    cursor: pointer;
}

.Header--user-info--menu--myinfo:hover {
    text-decoration: underline;
    background-color: #f8f8f8;
}


.Header--category--menu {
    z-index: 2;
    position: absolute;
    top: 100%;
    height: 10rem;
    width: 10rem;
    background-color: white;
    border-radius: .2rem;
    border: 1px solid #e3e3e3;
}

.Header--category--menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    border-radius: 5px;
    padding: .4rem;
    cursor: pointer;
    transition: background-color ease-in-out .4s;
}

.Header--category--menu-item:hover {
    color: #ed234b;
    text-decoration: underline;
    background-color: #f1f1ef;
}






