.login {
    display: flex;
    justify-content: center;
}

.login--form-container {
    position: relative;
    margin-top: 3rem;
    width: 23%;
    padding: 6rem 3rem;
    border: 1px solid #e3e3e3;
    border-radius: 0.6rem;
}

.login--form-container > a > img {
    position: absolute;
    left: 8%;
    top: 10%;
}

.login--title1 {
    margin-top: 4rem;
}

.login--title1, .login--title2 {
    font-size: 1.3rem;
}

.login--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
} 

.login--form > input {
    height: 2rem;
    border: none;
    padding: .5rem;
    border-bottom: 1px solid #e3e3e3;
}

.login--form > input:focus {
    position: relative;
    outline: none;
    border-bottom: 1px solid black;
}

.login--form > input::-webkit-input-placeholder {
    transition: all .3s ease;
    position: absolute;
    top: 50%;
    color: #919191;
}


.login--form > input:focus::-webkit-input-placeholder {
    position: absolute;
    font-size: 11px;
    top: 0%;
    left: 2%;
    color: #7b7b7b;
}

.login--form--label {
    height: 0.1rem;
    margin: 3.2rem 0;
    border-width: 0.1rem 0 0;
    border-top: 0.1rem solid #e3e3e3;
    color: #919191;
    text-align: center;
}


.login--form--label::after {
    content: "로그인 하기";
    position: relative;
    top: -.9rem;
    font-size: .9rem;
    padding: 0px 1.6rem;
    background: white;
}

.login--form--btnContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login--form--submitBtn {
    background-color: #ed234b;
    color: white;
    padding: .9rem;
    border: none;
    border-radius: .3rem;
    font-size: 1rem;
    font-weight: 600;
}

.login--form--submitBtn:hover {
    cursor: pointer;
}

.login--form--authBtn {
    width: 100%;
    background-color: #ededed;
    padding: .8rem;
    border: none;
    border-radius: .6rem;
    font-size: 1rem;
    font-weight: 600;
}

a > .login--form--authBtn {
    color: #5e5e5e;
    text-decoration: none;
}

.login--form--authBtn:hover {
    cursor: pointer;
}