.login {
    display: flex;
    justify-content: center;
}

.login--form-container {
    width: 40%;
}

.login--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    margin-top: 3rem;
    border: 2px black solid;

} 