.post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-card--container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 18rem;
    width: 70%;
}

.post-card {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 0.05rem;
    height: 14rem;
}

.post--user {
    display: flex;
}

.post--title {
    font-size: 1.0rem;
    line-height: 150%;
    font-weight: 500;
}   

.post--img-title {
    font-weight: 600;
    font-size: 1rem;
    margin-left: 1rem;
}

.post--column {
    display: flex;
    flex-direction: column;
}

.post--category-container {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.post--category {
    height: 1.2rem;
    font-size: .8rem;
    background-color: #f2f2f2;
    color: #949494;
    border-radius: 5px;
    padding: .2rem .3rem .2rem .3rem;
}

hr {
    /* height: 1px; */
    width: 80%;
    border-top: 0.05rem solid #c8c8d2;
}

.post-pagenation {
    
}

.post--img {
    display: flex;
    background-color: #ffc519;
    width: 12rem;
    height: 7rem;
    align-items: center;
    justify-content: flex-start;
    border-radius: .5rem;
}

.post--img-line {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 15rem;
}

.post--info {
    display: flex;
}

.post--info--view > span {
    font-weight: 500;
    font-size: .7rem;
    margin-right: .2rem;
}

.post--info--dot > span {
    font-size: .7rem;
    margin-right: .2rem;
}

.post--info--like > span {
    font-weight: 500;
    font-size: .7rem;
    margin-right: .2rem;
}
