@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body {
    /* 테마별 색상 바꾸기 */
    --toastify-color-light: #2E2E2E;
    --toastify-color-dark: #2E2E2E;
    --toastify-text-color-light: white;
    --toastify-text-color-dark: white;

    /* 테마별 아이콘 색상 바꾸기 */
    --toastify-icon-color-info: none;
    --toastify-icon-color-success: none;
    --toastify-icon-color-warning: none;
    --toastify-icon-color-error: none;

    /* 기본 적용 스타일 바꾸기 */
    --toastify-toast-width: 320px;
    /* --toastify-toast-height: 10px; */
    --toastify-toast-min-height: 10px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: 'Spoqa Han Sans Neo';

}

.Toastify__close-button--light {
    color: white !important;
}

.Toastify__close-button--dark {
    color: white !important;
}